*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    display: flex;
    justify-content: center;
}

.div_input{
    
    min-width: 280px;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.input1{
min-width: 280px;
max-width: 800px;
}
.input_text{
    width: 220px;
    padding: 10px;
    margin: 20 0 20px 20px;
    border: .5px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.493);
    border-radius: 5px 0 0 5;
}
.button1{
    padding: 12px;
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;

}
.input2{

min-width: 240px;
padding: 10px 0;
margin: 20px 0 ;
border: .5px solid rgb(255, 255, 255);
box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.493);
border-radius: 5px;
cursor: pointer;
}

